body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    margin-bottom: 50px;
}

.container-nav{
    display: flex;
    padding: 10px;
    flex-direction: row;
    width: 1250px;
    justify-content: space-between;
    align-items: center;

    > a {
        cursor: pointer;
    }

    > nav {
        > a {
            cursor: pointer;
            margin-left: 16px;
            font-size: 18px;
            padding: 10px;
            text-transform: uppercase;
            transition: 0.5s;
            color: #fff;
            text-decoration: none;
        }

        > a:hover {
            background-color: blue;
            color: #fff;
            box-shadow: 0 0 40px blue;
        }
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;
}

.banner-principal{
    display: flex;
    flex-direction: row;
    width: 1250px;
    align-items: center;
}

.sobre{
    display: flex;
    justify-content: center;
}

.container-texts{
    display: flex;
    flex-direction: column;
    width: 1250px;

    > h1 {
        font-size: 36px;
    }

    > p, li {
        font-size: 18px;
    }

    > ol li {
        margin-bottom: 10px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: auto auto;

    > a {
        cursor: pointer;
        margin-bottom: 20px;
    }
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 300px;
    color: #fff;
}

.logo-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 95px;
    padding-left: 40px;

    > a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        background-color: blue;
        padding: 10px;
        border-radius: 30px;
    }

    > a:hover {
        box-shadow: 0 0 30px blue;
    }
}

.criador{
    display: flex;
    flex-direction: row;
    justify-content: center;
}